@{
    ViewData["Title"] = "Index Customer";
}

<h1>@ViewData["Index Customer"]</h1>
<div class="row">
    <h2>Customer Index</h2>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
